params {
    illumina_fastq = null
    reference      = null
    outdir         = 'results'
}
process {
    withName: 'PRE_FASTQC' {
        cpus = 2
        publishDir = "${params.outdir}/01_FastQC_raw"
    }
    withName: 'FASTP' {
        cpus = 4
        publishDir = [
            [
                path: "${params.outdir}/02_Fastp",
                pattern: "*.{fastq.gz,html}"
            ], 
            [
                path: "${params.outdir}/02_Fastp/logs",
                pattern: "*.{log,json}"
            ]
        ]
    }
    withName: 'POST_FASTQC' {
        cpus = 2
        publishDir = "${params.outdir}/03_FastQC_trimmed"
    }
    withName: 'BWA_INDEX' {
        publishDir = "${params.outdir}/04_BWA_alignments/index"
    }
    withName: 'BWA_ALIGN' {
        cpus = 4
        publishDir = [
            [
                path: "${params.outdir}/04_BWA_alignments",
                pattern: "*.bam"
            ],
            [
                path: "${params.outdir}/04_BWA_alignments/stats",
                pattern: "*.{flagstat,stats}"
            ]
        ]
    }
}