manifest {
    name = 'Simple workflow'
    author = 'Mahesh Binzer-Panchal'
    homePage = ''
    description = 'A simple alignment workflow'
    mainScript = 'main.nf'
    //  '!>=21.04.0' : Run with version 21.04.0 or higher, otherwise exit.
    nextflowVersion = '!>=21.04.0'
    version = '0.1'
}

params {

    // Input parameters
    illumina_fastq = null
    reference      = null

    // Output parameters
    outdir         = 'results'

}

process {

    withName: 'PRE_FASTQC' {
        cpus       = 2
        container  = 'biocontainers/fastqc:v0.11.9_cv8'
        publishDir = [
            path: "${params.outdir}/01_FastQC_raw",
            mode: 'copy'
        ]
    }
    withName: 'FASTP' {
        cpus       = 4
        container  = 'quay.io/biocontainers/fastp:0.23.2--h79da9fb_0'
        publishDir = [
            [
                path: "${params.outdir}/02_Fastp",
                mode: 'copy',
                pattern: "*.{fastq.gz,html}"
            ], 
            [
                path: "${params.outdir}/02_Fastp/logs",
                mode: 'copy',
                pattern: "*.{log,json}"
            ]
        ]
    }
    withName: 'POST_FASTQC' {
        cpus       = 2
        container  = 'biocontainers/fastqc:v0.11.9_cv8'
        publishDir = [
            path: "${params.outdir}/03_FastQC_trimmed",
            mode: 'copy'
        ]
    }
    withName: 'BWA_INDEX' {
        container  = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:66ed1b38d280722529bb8a0167b0cf02f8a0b488-0'
        publishDir = [
            path: "${params.outdir}/04_BWA_alignments",
            mode: 'copy'
        ]
    }
    withName: 'BWA_ALIGN' {
        cpus       = 4
        container  = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:66ed1b38d280722529bb8a0167b0cf02f8a0b488-0'
        publishDir = [
            [
                path: "${params.outdir}/04_BWA_alignments",
                mode: 'copy',
                pattern: "*.bam"
            ],
            [
                path: "${params.outdir}/04_BWA_alignments/stats",
                mode: 'copy',
                pattern: "*.{flagstat,stats}"
            ]
        ]
    }

}

profiles {

    docker {
        docker.enabled = true
        docker.userEmulation = true 
    }

    execution_report {
        timeline {
            enabled = true
            file = "${params.outdir}/pipeline_info/execution_timeline.html"
        }
        report {
            enabled = true
            file = "${params.outdir}/pipeline_info/execution_report.html"
        }
        trace {
            enabled = true
            file = "${params.outdir}/pipeline_info/execution_trace.txt"
        }
        dag {
            enabled = true
            file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
        }
    }
}