manifest {
    name = 'Simple workflow'
    author = 'Mahesh Binzer-Panchal'
    homePage = ''
    description = 'A simple alignment workflow'
    mainScript = 'main.nf'
    //  '!>=21.04.0' : Run with version 21.04.0 or higher, otherwise exit.
    nextflowVersion = '!>=21.04.0'
    version = '0.1'
}

params {

    // Input parameters
    illumina_fastq = null
    reference      = null

    // Output parameters
    outdir         = 'results'

}

process {

    withName: 'PRE_FASTQC' {
        cpus = 2
        publishDir = "${params.outdir}/01_FastQC_raw"
    }
    withName: 'FASTP' {
        cpus = 4
        publishDir = [
            [
                path: "${params.outdir}/02_Fastp",
                pattern: "*.{fastq.gz,html}"
            ], 
            [
                path: "${params.outdir}/02_Fastp/logs",
                pattern: "*.{log,json}"
            ]
        ]
    }
    withName: 'POST_FASTQC' {
        cpus = 2
        publishDir = "${params.outdir}/03_FastQC_trimmed"
    }
    withName: 'BWA_INDEX' {
        publishDir = "${params.outdir}/04_BWA_alignments/index"
    }
    withName: 'BWA_ALIGN' {
        cpus = 4
        publishDir = [
            [
                path: "${params.outdir}/04_BWA_alignments",
                pattern: "*.bam"
            ],
            [
                path: "${params.outdir}/04_BWA_alignments/stats",
                pattern: "*.{flagstat,stats}"
            ]
        ]
    }

}

profiles {

    docker {
        docker.enabled = true
        docker.userEmulation = true 
    }

    execution_report {
        timeline {
            enabled = true
            file = "${params.outdir}/pipeline_info/execution_timeline.html"
        }
        report {
            enabled = true
            file = "${params.outdir}/pipeline_info/execution_report.html"
        }
        trace {
            enabled = true
            file = "${params.outdir}/pipeline_info/execution_trace.txt"
        }
        dag {
            enabled = true
            file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
        }
    }
}