# Run using: UID="$( id -u )" docker compose up -d
version: "3.9"
services:
  rstudio:
    image: 'ghcr.io/mahesh-panchal/rocker/distill:4.1.2'
    ports:
      - 8787:8787
      # - 127.0.0.1:8787:8787 # IP is not localhost here.
    environment:
      - USERID=$UID
      # - PASSWORD=clever-custom-password 
      # Add your own password above or use
      # `docker logs <container>` to see the randomly generated password
    volumes:
      - /workspace/reproducible-research:/home/rstudio/reproducible-research
      - /workspace/data:/home/rstudio/data
      # - data:/home/rstudio/data
    working_dir: /home/rstudio
    # user: "$UID:$GROUPS" # Do not use this! RStudio server needs to run as root. Set USERID above.
# volumes:
  # data: # Reusable data volume